body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#40514E;
  line-height: 2;
  background-color: #F8F8F8;

}
p{
  font-size: 20px;
}

a {
  color: #d6efc7;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

h1 {
  color: #184d47;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #36cc00;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #36cc00
;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
.intro{
  width: 30%;
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.subheading{
  color: #d6ffc7;
}
.top {
  background-color: #96bb7c;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  background-color: #F8F8F8	;
}

.bottom-container {
  background-color: #96bb7c;
padding: 50px 0 20px;
}

.contact-me{
  width:40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 450px;
}

.top-cloud {
  position: absolute;
  right: 75px;
  top: 200px;
}
.forest{
height: 50%;

}
.computer-img{
  width: 35%;
  float: left;
  margin-right: 30px;
  border-radius: 300px;


}
.gaming-img{
  width:22%;
  height: 30%;
  float: right;
  margin-left: 30px;


}
.Profile-picture{
  border-radius: 30px;
  width: 20%;
}


.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #96bb7c), color-stop(1, #66a843) );
	background:-moz-linear-gradient( center top, #96bb7c 5%, #66a843 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#96bb7c', endColorstr='#66a843');
	background-color:#96bb7c;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #2f6627;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66a843), color-stop(1, #96bb7c) );
	background:-moz-linear-gradient( center top, #66a843 5%, #96bb7c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66a843', endColorstr='#96bb7c');
	background-color:#66a843;
}.btn:active {
	position:relative;
	top:1px;
}
